.hero-image {
  background-image: url("./images/All.png");
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.hero-text {
  color: white;
  font-size: 60px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); 
  padding: 10px 30px;                    
  border-radius: 12px;                  
}

.hero-text {
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container {
  width: 80%;
  max-width: 1000px;
  margin-top: 40px;
  align-items: left;
}

.card {
  display: flex;            
  align-items: flex-start; 
  gap: 40px;                
  margin-bottom: 50px;      
}


.card-img {
  width: 320px;             
  height: 220px;            
  object-fit: cover;       
  border-radius: 8px;     
  flex-shrink: 0;           
}

.card-info h2 {
  margin-top: 0;
  font-size: 28px;
  border: 3px solid #000;
  background-color:#fff;
}

.card-info p {
  line-height: 1.8;
  color: #333;
  border: 3px solid #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}


.card-text{
    text-align:center;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);/*whitesmoke*/
}

.card3 img{
  width: 300px !important;
  height: 350px!important;
}

.card1 img{
  width: 450px !important;
  height: 350px!important;
}

.card2 img{
  width: 500px !important;
  height: 350px!important;
}

body{
  margin: 0;
  background-image: url("./images/bg.jpg"); 
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;    
  background-attachment: fixed;    
}

.extra-imgs{
    display: flex;
    
    gap: 15px; 
    align-items: flex-start;
}

.extra-imgs img{
    width: 200px;  
    height: 220px; 
    object-fit: cover;
    border-radius: 8px;
}

.anna-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.extra-imgs {
  display: flex;
  gap: 15px;               
  flex-shrink: 0;          
}

.extra-imgs img {
  width: 150px;            
  height: 220px;           
  object-fit: cover;
  border-radius: 8px;
  border: 3px solid #000;  
}